.post-details-ctn {
  position: relative;
  display: flex;
  justify-content: space-around;
}

.likes-ctn {
  position: absolute;
  visibility: hidden;
  top: 150%;
  left: 17%;
  transform: scale(0,0);
  transform-origin: 50% -15%;
  transition: transform 0.5s;
}

.show-ctn {
  transform: scale(1,1);
}