.post-details-ctn {
  position: relative;
  display: flex;
  justify-content: space-around;

  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.post-details-ctn button {
  font-size: 0.925rem;
  background-color: transparent;
}

.like-btn-ctn {
  display: flex;
}

.like-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 0.5em;
}

.like-btn svg {
  margin-left: 0.5em;
}

.liked-svg path {
    fill: #FF0000;
    stroke: none;
}

.likes-ctn {
  position: absolute;
  opacity: 0;
  top: 150%;
  left: 17%;
  transform: scale(0,0);
  transform-origin: 50% -15%;
  transition: all 0.5s;
  z-index: 5;
  /* width: 200px; */
  height: 10em;
  overflow-y: auto;

  background-color: white;
}

.show-ctn {
  transform: scale(1,1);
  opacity: 1;
  transition: all 0.5s;
}

.toggle-btn {
  padding: 0.25em;
  height: 100%;
  padding-right: 0.5em;
}

@keyframes tgl-btn-anim {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(0);
  }
}

.toggle-btn:hover {
  animation: tgl-btn-anim 0.75s ease-in-out forwards;
}

.toggle-btn--active {
  transform: rotate(-180deg);
}

.likes-ctn .profile-ctn {
  font-size: 0.925rem;
  height: 4.5em;
}

