.flscrn-post-ctn-bg {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;
}

.flscrn-post-ctn {
    display: flex;
    width: 80%;
    height: 80%;
    background-color: white;

    &__left-ctn {
        width: 50%;
        height: 100%;
    }
}

.close-post-flscrn {
    position: absolute;
    top: 10vh;
    right: 10px;

    &:hover {
        cursor: pointer;
    }
}