.user-prof {
    width: clamp(500px, 70%, 750px);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.user-prof-img {
    width: 200px;
}

.user-prof-right-ctn {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button:hover {
    cursor: pointer;
}