.profile-ctn {
    display: flex;
    height: 75px;
}

.prof-img-ctn {
    width: 85px;
    /* max-width: 85px;
    min-width: 60px; */
    border-radius: 0.5em;
    overflow: hidden;
}

.prof-img-ctn img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.prof-details-ctn {
    width: 100%;
    padding-left: 0.75em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.prof-details-ctn a:hover {
    text-decoration: underline;
}

.username:hover {
    cursor: pointer;
    text-decoration: underline;
}