.status-notif {
    position: sticky;
    border-radius: 0.25em;
    transform: translateY(-40px);
    margin: 0 auto;
    height: 40px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.25s;
}

.status-notif > p {
    display: inline-block;
    font-size: 0.925rem;
}

.status-notif--err-active {
    background-color: #ffcccc;
    border: 1px solid red;
    transform: translateY(0px);
}

.status-notif--active {
    background-color: #87ff89;
    border: 1px solid green;
    transform: translateY(0px);
}

@media only screen and (max-width: 786px) {
    .status-notif {
        width: 80%;
        height: 60px;
    }
}