.flscrn-post-ctn-bg {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 11;
}

.only-post-ctn {
    min-height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    justify-content: center;

    .flscrn-post-ctn {
        height: 40vw;
    }
}

.flscrn-post-ctn {
    display: flex;
    width: 80%;
    height: 50vw;
    background-color: white;

    &__left-ctn {
        width: 60%;
        height: 100%;
        margin-top: 0;
    }

    &__right-ctn {
        width: 40%;

        &__text-ctn__text {
            word-break: break-all;
        }
    }
}

.close-post-flscrn {
    position: absolute;
    top: 2.75vh;
    right: 10px;
    width: 35px;
    height: 35px;

    &:hover {
        cursor: pointer;
    }
}